@model CreateReadViewModel

@if (Model.Request.Id.HasValue)
{
    <button class="button button__primary float-right" onclick="Read.Delete(@Model.Request.Id)">Delete</button>
}
@using (Html.BeginForm("CreateOrUpdate", "Read"))
{
    @Html.HiddenFor(_ => _.Request.Id)
    @Html.HiddenFor(_ => _.Request.GoodreadsId)
    @if (!string.IsNullOrEmpty(Model.CoverPath))
    {
        <img style="max-height: 303px;" class="float-left mr-2" src="@Model.CoverPath" alt="@Model.Title cover" />
    }
    <div>
        <div class="text-2xl">
            @Model.Title
            @if (Model.ReleaseDate != null)
            {
                <span>(@Model.ReleaseDate.Value.Year)</span>
            }
        </div>
        <div>@Model.Description</div>
        <div>@Html.TextBoxFor(_ => _.Request.GoodreadsEditionId)</div>
        @Html.DropDownListFor(_ => _.Request.Rating, Html.GetEnumSelectList<Rating>())
    </div>
    <div class="pt-2">
        <a href="/Read" class="button button__secondary" type="button">Cancel</a>
        <button class="button button__primary" type="submit">Save</button>
    </div>
}