@model List<ListReadViewModel>

@foreach (var read in Model)
{
    <div class="flex w-1/5 mb-2">
        <div class="flex flex-col flex-grow bg-green-500 shadow mr-2 cursor-pointer" onclick="Read.SelectForUpdate(@read.Id)">
            @if (!string.IsNullOrEmpty(read.CoverPath))
            {
                <img class="w-full h-full block object-cover object-center" style="max-height: 400px;" src="@read.CoverPath" alt="@read.Title cover"/>
            }
            else {
                <div class="flex-grow p-2 text-white text-shadow">
                    <span>@read.Title</span>
                    @if (read.ReleaseYear != null)
                    {
                        <span>(@read.ReleaseYear)</span>
                    }
                </div>
            }
            <div class="bg-gray-700 text-white font-semibold text-center py-1" text-center">@read.Rating</div>
        </div>
    </div>
}