@model SelectWatchedViewModel

@foreach (var searchResult in Model.SearchResults)
{
    <div class="w-1/5 mb-2">
        <div class="relative h-full bg-green-500 shadow mr-2 cursor-pointer" onclick="Watched.Select(@searchResult.Id, '@searchResult.WatchedType')">
            @if (!string.IsNullOrEmpty(searchResult.PosterPath))
            {
                <img class="w-full h-full block object-cover object-center" style="max-height: 400px;" src="https://image.tmdb.org/t/p/w500/@searchResult.PosterPath" alt="@searchResult.Title cover" />
            }
            <div class="absolute left-0 top-0 mt-2 ml-2 text-white font-semibold text-shadow leading-none">
                @searchResult.Title
                @if (searchResult.ReleaseDate.HasValue)
                {
                    <span>(@searchResult.ReleaseDate.Value.Year)</span>
                }
            </div>
        </div>
    </div>
}
